/* Reader Start */
@media screen and (max-width: 900px) {
    .header {
        display: flex;
        align-items: unset;
        padding: 20px;
    }
    .header .logo {
        height: 36px;
    }
    .header .sig-in {
        display: none;
    }
    .header .bars:hover {
        box-shadow: 0px 0px 5px 5px rgb(87, 87, 87);
    }
    .header .bars-main .bar {
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 5px 0px;
    }
    .header .nav{
        display: none;
    }
    .header .navbar-nav {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }
    .top-banner .banner-content h1 {
        font-size: 40px;
    }
}
@media screen and (min-width: 900px){
    .bars-main{
        display: none;
        cursor: pointer;
    }
}
@media screen and (max-width: 600px) {
    .header .navbar-nav {
        margin-left: -157px;
    }
}
/* Reader End */